---
# https://github.com/clong/DetectionLab/blob/master/Vagrant/scripts/MakeWindows10GreatAgain.ps1

- name: Merge in registry file
  win_regmerge:
    path: "{{ detectionlab_gitroot }}\\vagrant\\scripts\\MakeWindows10GreatAgain.reg"

- name: Check if Onedrive file
  win_stat:
    path: c:\Windows\SysWOW64\OneDriveSetup.exe
  register: onedrive

- name: Uninstall Onedrive
  win_command: c:\Windows\SysWOW64\OneDriveSetup.exe /uninstall
  args:
    remove: c:\Windows\SysWOW64\OneDriveSetup.exe
  when: onedrive.stat.exists

- name: Disabling automatic screen turnoff in order to prevent screen locking...
  win_command: "{{ item }}"
  with_items:
    - powercfg -change -monitor-timeout-ac 0
    - powercfg -change -standby-timeout-ac 0
    - powercfg -change -hibernate-timeout-ac 0

- name: Download ShutUp10
  win_get_url:
    url: https://dl5.oo-software.com/files/ooshutup10/OOSU10.exe
    dest: C:\Users\vagrant\AppData\Local\Temp\OOSU10.exe
    follow_redirects: all
  register: mimidl
  until: mimidl is success

- name: Check if ShutUp10 has been executed
  win_stat:
    path: 'c:\Program Files\.shutup10_cleaning_done'
  register: shutup10

- block:
    - name: Run ShutUp10
      win_command: >
        C:\Users\vagrant\AppData\Local\Temp\OOSU10.exe "{{ detectionlab_gitroot }}\\vagrant\\resources\\windows\\shutup10.cfg /quiet /force"
      async: 3600
      poll: 0
      register: shutup_run

    - name: check on async task for ShutUp10 run
      async_status:
        jid: "{{ shutup_run.ansible_job_id }}"
      register: job_result
      until: job_result.finished or shutup_run.finished
      retries: 5
      delay: 60
      when: shutup_run is changed
      ignore_errors: true

    - name: Add marker for ShutUp10
      win_file:
        path: 'c:\Program Files\.shutup10_cleaning_done'
        state: touch
  when: not shutup10.stat.exists

- name: Remove the Edge shortcut from the Desktop
  win_file:
    path: c:\Users\vagrant\Desktop\Microsoft Edge.lnk
    state: absent
